.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .form {
    width: 55%;
    margin: 0 auto;
    padding: 2rem 1rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f1f1f1;
    position: absolute;
    z-index: 3;

    input {
      width: 100%;
      height: 50px;
      margin: 15px 0;
      padding: 0 15px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 1rem;
      transition: border-color 0.3s, box-shadow 0.3s;

      &:focus {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        outline: none;
      }
    }

    .inlineFields {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
    }

    .field {
      flex: 1;
      //flex 1 is so cool. look at that. so cool.
    }

    .select {
      width: 100%;
      height: 50px;
      margin: 15px 0;
      padding: 0 15px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 1rem;
      transition: border-color 0.3s, box-shadow 0.3s;

      &:focus {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        outline: none;
      }
    }

    textArea {
      width: 100%;
      height: 120px;
      margin: 15px 0;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 1rem;
      transition: border-color 0.3s, box-shadow 0.3s;

      &:focus {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        outline: none;
      }
    }

    .example {
      font-size: 0.875rem;
      color: #666;
      margin-bottom: 10px;
    }

    button {
      width: 100px;
      height: 40px;
      background-color: #f1f1f1;
      transition: all 0.3s;
      color: #333;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin: 0 10px;

      &:hover {
        background-color: #333;
        color: #f1f1f1;
      }
    }
  }
}
