.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 2rem;

  .form {
    width: 55%;
    margin: 0 auto;
    padding: 2rem 1rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    input {
      width: 100%;
      height: 40px;
      margin: 10px 0;
      padding: 0 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    textArea {
      width: 100%;
      height: 100px;
      margin: 10px 0;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    button {
      width: 100px;
      height: 40px;
      background-color: #f1f1f1;
      transition: all 0.3s;
      color: #333;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin: 0 10px;

      &:hover {
        background-color: #333;
        color: #f1f1f1;
      }
    }
  }
}
